.RestaurantRegistration {
  padding: 100px 0 0;
}

@media screen and (max-width: 768px) {
  .RestaurantRegistration {
    position: static;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .RestaurantRegistration {
    padding: 50px 0;
    position: static;
  }
}
