.CheckOutCart h5 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.CheckOutCart .CheckOutCart_wrapper {
  margin-top: 50px;
  max-height: 250px;
}
.CheckOutCart .CheckOutCart_wrapper p {
  font-size: 16px;
}

.CheckOutCart .CheckOutCart_wrapper p:first-child {
  font-size: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .CheckOutCart {
    display: none;
  }
}
