.DownloadApp {
  padding-bottom: 100px;
  height: 700px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.DownloadApp_bg {
  background-color: var(--primary);
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 150px;
}
.DownloadApp_title {
  position: relative;
  top:70px;
  z-index: -3;
}
.DownloadApp_title h3 {
  font-size: 180px;
  font-weight: 700;
  text-align: center;
  color: rgba(235, 235, 235, 0.397);
  position: absolute;
  top: -100px;
  z-index: -1;
}
.DownloadApp p {
  font-size: 36px;
  color: var(--title);
  margin-top: 30px;
  /* text-align: center; */
  margin-bottom: 20px;
  font-weight: 200;
}
.DownloadApp .App_info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}
.DownloadApp .App_info h4 {
  font-size: 36px;
  font-weight: 200;
  color: #fff;
  text-align: left;
}
.DownloadApp .App_info h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  margin: 50px 0 70px 0;
  position: static;
}
.DownloadApp .AppLinkImg {
  width: 80%;
}
.DownloadApp_img_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
.DownloadApp_img {
  position: absolute;
  top: 0;
  left: -100px;
}

@media screen and (max-width: 991px) {
  .DownloadApp {
    height: auto;
    margin-top: 200px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background-color: var(--primary);
  }

  .DownloadApp_img_wrapper img {
    width: 100%;
    position: static;
  }

  .DownloadApp .App_info {
    position: static;
  }
  
  .DownloadApp .App_info h4 {
    text-align: center;
  }
  .DownloadApp .App_info h5 {
    text-align: center;
    margin-top: 20px;
    padding-top: 0;
  }
  .DownloadApp .AppLinkImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .DownloadApp {
    position: static;
    margin-top: 300px;
    padding: 100px 0 50px;
  }
  .DownloadApp .App_info h4 {
    font-size: 24px;
  }
  .DownloadApp .App_info h5 {
    margin-bottom: 30px;
  }
  .DownloadApp_title {
    display: none;
  }
  .DownloadApp_bg {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .DownloadApp {
    position: static;
    padding-bottom: 50px;
  }
  .DownloadApp h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .DownloadApp p {
    margin-bottom: 30px;
  }
  .DownloadApp .App_info h3 {
    font-size: 24px;
  }
  .DownloadApp .App_info p {
    font-size: 16px;
  }
  .DownloadApp .AppLinkImg {
    width: 80%;
    margin: 0 auto;
  }
}
