.AllRestaurants {
    height: auto;
    padding-bottom: 50px;
}

.AllRestaurants h3 {
    font-weight: 400 ;
    color: var(--title) ;
    margin-bottom: 15px;
    font-size: 36px;
}

@media screen and (max-width: 600px) {
    .AllRestaurants h3 {
        font-size: 24px;
    }
}