.CartSection {
  height: 100vh;
}

.CartSection .cart_items_wrapper {
  max-height: 350px;
  overflow-y: scroll;
}

.CartSection button {
  background-color: var(--primary);
  border: none;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  color: #fff;
}
.is-sticky {
    z-index: 999;
    width: 24.3%;
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 15px;
}

.cart_items {
  padding: 10px 30px;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .CartSection {
    display: none;
  }
}
