.HelpAccount .accordion-button:focus {
  z-index: 3;
  border-color: var(--primary) !important;
  outline: 0;
}

.HelpAccount .accordion-button:not(.collapsed) {
  color: var(--primary) !important;
  background-color: #fff !important;
}
