.CuisinesSlider {
  margin-bottom: 50px;
}
.CuisinesSlider h3 {
  font-size: 36px;
  color: var(--title);
  font-weight: 700;
  text-transform: uppercase;
}

.CuisinesSlider .slick-prev:before,
.CuisinesSlider .slick-next:before {
  font-family: "slick";
  font-size: 35px;
  /* line-height: 1; */
  opacity: 0.75;
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cuisines_slider_card {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
  width: 96px;
  height: 96px;
  border-radius: 8px;
}
.cuisines_slider_card p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .CuisinesSlider .slick-prev:before,
  .CuisinesSlider .slick-next:before {
    display: none;
  }
  .CuisinesSlider h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
