.Restaurant_Info {
  padding-bottom: 200px;
  position: relative;
  top: -50px;
  z-index: 1;
}
.Restaurant_Info_title {
  position: relative;
}
.Restaurant_Info h3 {
  font-size: 180px;
  font-weight: 700;
  text-align: center;
color: rgba(235, 235, 235, 0.534);
  position: absolute;
  top: -80px;
  z-index: -1;
}
.Restaurant_Info p {
  font-size: 36px;
  color: var(--title);
  margin-top: 30px;
  /* text-align: center; */
  margin-bottom: 20px;
  font-weight: 200;
}
.Restaurant_Info_container {
  width: 50%;
  /* margin: 0 auto; */
  position: relative;
}
.Restaurant_Info .Restaurant_Info_Img {
  width: 100%;
  height: 500px;
}
.Restaurant_Info .Restaurant_Info_Img img {
  width: 100%;
  height: 100%;
}
.Restaurant_Info_Details {
  padding: 40px;
  /* border-radius: 10px; */
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.246);
  background-color: #ffff;
  position: absolute;
  top: -200px;
  left: 0;
}
.Restaurant_Info_Details h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--title);
  margin: 0 0 40px 0;
}
.Restaurant_Info_Details p {
  font-size: 16px;
  color: var(--title);
  text-align: left;
  margin-bottom: 0;
}
.Restaurant_Info_btn {
  border: none;
  background-color: var(--primary);
  padding: 20px 60px;
  letter-spacing: 1px;
  font-size: 16px;
  color: #ffff;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .Restaurant_Info {
    padding-top: 100px;
  }
  .Restaurant_Info_Details {
    position: relative;
    left: -200px;
  }
  .hero_container {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .Restaurant_Info {
    padding-bottom: 0;
  }
  .Restaurant_Info_container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .Restaurant_Info h3 {
    font-size: 150px;
  }
  .Restaurant_Info_Img {
    width: 100%;
  }
  .Restaurant_Info_Img img {
    width: 100%;
  }

  .Restaurant_Info_container {
    width: 100%;
  }

  .Restaurant_Info_Details {
    width: 100%;
    position: absolute;
    /* top: 500px; */
    left: 0%;
    right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .Restaurant_Info {
    padding-bottom: 0;
  }
  .Restaurant_Info_Details {
    width: 100%;
    position: absolute;
    /* top: 350px; */
    left: 0%;
  }
  .Restaurant_Info_title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
 
  .Restaurant_Info h1 {
    font-size: 24px;
  }
  .Restaurant_Info p {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
  }
  .Restaurant_Info_Details {
    position: static;
    margin-top: -200px;
  }
  .Restaurant_Info_Details h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--title);
    margin-bottom: 20px;
  }
  .Restaurant_Info_Details p {
    font-size: 16px;
    color: var(--title);
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .Restaurant_Info_btn {
    padding: 10px 15px;
    color: #ffff;
    border-radius: 5px;
    margin-top: 0;
    letter-spacing: 0;
    font-weight: 500;
  }
}
