@media screen and (max-width: 768px) {
  .OfferCode {
    position: absolute;
    top: -150px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .OfferCode {
    position: static;
  }
}
